<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="https://jakarta.ee/xml/ns/jakartaee" 
xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" 
xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
version="5.0">
  
 <servlet>
        <servlet-name>ListerArticle</servlet-name>
        <servlet-class>com.octest.servelets.ListerArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListerArticle</servlet-name>
        <url-pattern>/ListerArticle</url-pattern>
    </servlet-mapping>
    
    
    
    
    <servlet>
        <servlet-name>ModifierArticle</servlet-name>
        <servlet-class>com.octest.servelets.ModifierArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ModifierArticle</servlet-name>
        <url-pattern>/ModifierrArticle</url-pattern>
    </servlet-mapping>
    
    
    
     <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>com.octest.servelets.Index</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    
    
    
    
    <servlet>
        <servlet-name>Reglage</servlet-name>
        <servlet-class>com.octest.servelets.Reglage</servlet-class>
    </servlet>
      <servlet-mapping>
        <servlet-name>Reglage</servlet-name>
        <url-pattern>/Reglage</url-pattern>
    </servlet-mapping>
    
    
    
    
    
    
    
    <servlet>
        <servlet-name>SupprimerArticle</servlet-name>
        <servlet-class>com.octest.servelets.SupprimererArticle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupprimerArticle</servlet-name>
        <url-pattern>/SupprimerArticle</url-pattern>
    </servlet-mapping>
    
    
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>authentification.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<jsp-property-group>
	      <url-pattern>*.jsp</url-pattern>
	      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
	    </jsp-property-group>
	</jsp-config> 
	
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>com.octest.servelets.Add</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>

  

   
</web-app>